.content{
    width: 960px;
    clear: both; 
    margin: 0 auto 6em auto;
}

.main{
    display: inline-block;
    width: 960px;
	margin: 70px 0;
	padding: 40px;
	background-color: #ffffff;
    border: 1px solid #dddddd;
}

.main h2 {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 1em;
	margin-bottom: 0.8em;
	border-bottom: 2px solid #dddddd;
}

.main p {
	font-size: 16px;
	line-height: 1.75em;
	margin-bottom: 2em;
}

img.aboutme-photo {
	float: left;
	padding: 0 1em 1em 0;
	width: 200px;
	height: 200px;
}

footer {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 3em;
	text-align: center;
	font-size: 0.8em;
	color: #cccccc;
	background-color: #666666;
    border-top: 8px solid #4aaaa5;
    z-index: 1000;
}
