.image-port{
    width: 270px;
    height: 200px;
}


.item{
    display: inline-block;
    position: relative;
    width: 270px;
    height: 200px;
    
}

.item:nth-child(even){
    margin-left: 25px;
}

.item-name{
    position: relative;
    top: -90px;
    text-align: center;
    background-color: #4aaaa5;
    padding: 16px;
    color: #ffffff;
    z-index: 1000;
}


footer {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 30px;
	text-align: center;
	font-size: 13px;
	color: #cccccc;
	background-color: #666666;
    border-top: 8px solid #4aaaa5;
    z-index: 2000;
}
